@font-face {
    font-family: 'milky';
    src: url(fonts/Story\ Milky.ttf) format('truetype'); 
}
#sound-button{
    z-index: 50;
}
h1 {
    color: #d4f6ac;
    text-shadow: 5px 4px 6px black;
}
body{
    background-image: url(img/bg/big_background2.jpg);
    background-position: center;
    font-family: 'milky', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.instruction{
    width: 700px;
    display: flex;
    justify-content: space-around;
    column-gap: 70px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
canvas{
    background-color: grey;
    display: block;
}
.start-screen{
    position: absolute;
    background: url(./img/bg/StartGame.jpg);
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    z-index: 60;
}
.start-game{
    cursor: pointer;
    margin-top: 80px;
}
.start-game h1{
    font-size: 36px;
    background: red;
    padding: 15px;
    border-radius: 10px;
}
.end{
    background-color: pink;
    height: 480px;
    width: 720px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.end h1{
    padding: 15px;
}
.end h2{
    cursor: pointer;
    padding: 15px;
    font-size: 36px;
    margin-top: 90px;
    color: #d4f6ac;
    text-shadow: 5px 4px 6px black;
    background: red;
    border-radius: 10px;
}
.victory{
    background: url(./img/bg/won-screen.jpg);
}
.lose{
    background-image: url(./img/bg/lose-screen.jpg);
}
.d-none{
    display: none !important;
}
.rotate-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 42px;
}
.game-div{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 720px;
    height: 480px;
}
img{
    display: none;
    cursor: pointer;
    height: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.info{
    display: block;
    height: 30px !important;
    padding: 5px;
}
.game-info{
    display: none;
    position: absolute;
    height: 200px;
    width: 600px;
    margin: 60px;
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.game-info p{
    margin: 27px;
    line-height: 1.8;
}
.background{
    display: none;
    position: absolute;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}
.mob-buttons{
    display: none;
    position: absolute;
    width: 720px;
    height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    z-index: 40;
}

.mob-buttons img{
    display: flex;
    margin: 0;
    position: static;
}
.left{
    transform: rotate(270deg);
    margin-left: 20px;
}
.right{
    transform: rotate(90deg);
}
.space{
    background-color: #d4f6ac;
    width: 400px;
    text-align: center;
    margin: 0;
    padding: 11px;
}
.mob-shoot{
    display: none;
    width: 720px;
    height: 340px;
    position: absolute;
    z-index: 50;
}
canvas{
    width: 100% !important;
}

@media only screen and (max-width:720px){
    canvas, .start-game, .end{
        width: 100%;
    }
    .mob-shoot, .mob-buttons{
        display: flex;
    }
}
@media only screen and (max-height:480px){
    canvas, .start-game, .end{
       height: 100vh;
    }
    .title{
        display: none;
    }
    .instruction{
        display: none;
    }
    .mob-shoot, .mob-buttons{
        display: flex;
    }
} 
@media(max-width: 720px){
    body{
        overflow: hidden;
    }
    .rotate-info{
        display: none;
    }
}
/*620
585*/